// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.font-josefin {
  font-family: 'Josefin Sans', sans-serif;
}
.font-spectral {
  font-family: 'Spectral', serif;
}
.style-italic {
  font-style: italic
}
// FONT WEIGHTS
.fw-700 {
  font-weight: 700
}
.fw-600 {
  font-weight: 600
}
.fw-500 {
  font-weight: 500
}
.fw-400 {
  font-weight: 400
}
.fw-300 {
  font-weight: 300
}
.fw-200 {
  font-weight: 200
}
.fw-100 {
  font-weight: 100
}


// font-sizes
.fs-32 {
  font-size: 32px;
}
.fs-24 {
  font-size: 24px;
}
.fs-20 {
  font-size: 20px;
}
